.mobile{
	display: none;
}
.desctop{
	min-height: 100vh;
	width: 100vw;
	background: url(../img/desc.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 900px){
	.desctop{
		display: none;
	}
	.mobile{
		display: block;
		background: url(../img/mobile.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
		padding-top: 10.54vh;
		padding-left: 6.9vw;
	}
	h3{
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 800;
		font-size: 1.547vh;
		line-height: 45.7%;
		/* or 5px */
		letter-spacing: 0.065em;
		text-transform: uppercase;
		color: #F9F9F9;
		margin-bottom: 0.32vh
	}
	h1{
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 800;
		font-size: 48px;
		color: #FFC120;
		text-shadow: 0px 0px 35px #FFD918;
		margin-top: -0.3vh;
		margin-bottom: -0.3vh;
	}
	h2{
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 800;
		font-size: 14px;
		line-height: 45.7%;
		/* or 6px */
		letter-spacing: 0.065em;
		text-transform: uppercase;
		color: #F9F9F9;
		margin-bottom: 5.3vh;
	}
	.list-zone{
		min-height: 52.74vh;
		width: 100vw;
		background-image: url(../img/list.png);
		background-size: cover;
		margin-left: -6.9vw;
		padding-left: 6.9vw;
		padding-top: 10.91vh;
	}
	.title{
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 139.2%;
		/* or 33px */
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #8C8C8C;
		border-bottom: 4px solid #8C8C8C;
	}
	.price{
		font-family: Dexa Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 115.7%;
		/* or 21px */
		color: #8C8C8C;
		padding-top: 1.68vh;
	}
	.list-price{
		margin-bottom: 3vh;
	}
	.black{
		color: #626262;
	}
	.border-black{
		border-bottom: 4px solid #626262;
	}
	.list-zone{
		margin-bottom: 3.2vh;
	}
	button{
		width: 86.2vw;
	}

	.popup-fade {
		display: none;
	}
	.popup-fade:before {
		content: '';
		background: #000;
		position: fixed; 
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%;
		opacity: 0.7;
		z-index: 9999;
	}
	.popup {
		position: fixed;
		top: 20%;
		left: 5%;
		width: 90vw;
		z-index: 99999;
		opacity: 1;	
		background: #141414;
		border: 2px solid #FFC120;
		box-shadow: 0px 0px 15px rgba(255, 217, 24, 0.8);
		border-radius: 18px;
		padding: 3.2vh;
	}
	.popup-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.popup-open{
		filter: drop-shadow(0px 0px 15px rgba(255, 217, 24, 0.6));
		background: #000000;
		border: 2px solid #FFC120;
		box-sizing: border-box;
		border-radius: 9px;
		width: 86.2vw;
		cursor: pointer;
		height: 8vh;
		text-align: center;
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 600;
		font-size: 2vh;
		padding-top: 2.3vh;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		color: #FFC120;

		text-shadow: 0px 0px 10px rgba(255, 217, 24, 0.9);
	}
	.noize{
		height: 100vh;
		width: 100vw;
		position: fixed;
		background-image: url(../img/noize.png);
		top: 0;
		left: 0;
		opacity: 0.2;
	}
	.popup .title-popup{
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 900;
		font-size: 24px;
		line-height: 109.2%;
		/* or 26px */
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFC120;
		text-shadow: 0px 0px 15px rgba(255, 217, 24, 0.7);
	}
	.descript{
		font-family: Dexa Pro;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 105.2%;
		/* or 19px */
		color: #F9F9F9;
		margin-bottom: 4vh;
	}
	.button-in-popup{
		width: 100%;
		height: 66px;
		box-shadow: 0px 0px 15px rgba(255, 217, 24, 0.8);
		background: #141414;
		border: 2px solid #FFC120;
		border-radius: 18px;
	}
	.button-in-popup-one{
		margin-bottom: 1.4vh
	}
	.button-in-popup:hover{
		background: #2E2E2E;
	}
	.left{
		padding-left: 3vw;
	}
	.right{
		font-family: Dexa Pro Expanded;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		text-align: center;
    	width: 100%;
		color: #FFC120;
		margin-left: -4vw;
		text-shadow: 0px 0px 10px rgba(255, 217, 24, 0.8);
	}
	a{
		text-decoration: none;
	}
	.popup-open:hover{
		background: #2E2E2E;
	}
}